---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/styles.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Bebidas | Panadería la Mía</title>
  </head>

  <body>
    <Header />
    <main class="seccion">
      <div class="container">
        <h1 style="color: rgb(70,165,135); text-align:center; margin-bottom:30px;">
          Bebidas disponibles
        </h1>

        <div class="row">
    <!-- ========== SERVICIOS ========== -->
    <section id="servicios" class="seccion">
      <div class="container">
        <div class="row">

          <div class="columna columna-33">
            <div class="bloque-servicio">
              <div class="bloque-img-servicio">
                <img src="/img/cocacola.jpg" alt="Gaseosa Cocacola">
              </div>
              <div class="bloque-contenido-servicio">
                <h3>Gaseosa Personal Cocacola</h3>
                <p>$2500</p>
              </div>
            </div>
          </div>

          <div class="columna columna-33">
            <div class="bloque-servicio">
              <div class="bloque-img-servicio">
                <img src="/img/postobon.jpg" alt="Posobon">
              </div>
              <div class="bloque-contenido-servicio">
                <h3>Gaseosa Personal Postobon</h3>
                <p>$2500</p>
              </div>
            </div>
          </div>

          <div class="columna columna-33">
            <div class="bloque-servicio">
              <div class="bloque-img-servicio">
                <img src="img/avena.jpg" alt="Avenita, lo mejor">
              </div>
              <div class="bloque-contenido-servicio">
                <h3>Avena</h3>
                <p>$1500</p>
              </div>
            </div>
          </div>

           <div class="columna columna-33">
            <div class="bloque-servicio">
              <div class="bloque-img-servicio">
                <img src="img/colombiana.jpg" alt="Gaseosa colombiana">
              </div>
              <div class="bloque-contenido-servicio">
                <h3>Gaseosa colombiana personal</h3>
                <p>$2500</p>
              </div>
            </div>
          </div>

           <div class="columna columna-33">
            <div class="bloque-servicio">
              <div class="bloque-img-servicio">
                <img src="img/jugo-hit.jpg" alt="jugo hit">
              </div>
              <div class="bloque-contenido-servicio">
                <h3>Jugo Hit</h3>
                <p>$1500</p>
              </div>
            </div>
          </div>



        </div>
      </div>
    </section>
            </div>
          </div>

        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>
