---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/styles.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Buñuelito | Panadería la Mía</title>
  </head>

  <body>
    <Header />
    <main class="seccion">
      <div class="container">
        <h1 style="color: rgb(70,165,135); text-align:center; margin-bottom:30px;">
          Pasteles, Empanadas, Buñuelos
        </h1>

        <div class="row">
    <!-- ========== SERVICIOS ========== -->
    <section id="servicios" class="seccion">
      <div class="container">
        <div class="row">

          <div class="columna columna-33">
            <div class="bloque-servicio">
              <div class="bloque-img-servicio">
                <img src="/img/Pasteles papa.jpg" alt="PastelesPapa">
              </div>
              <div class="bloque-contenido-servicio">
                <h3>Pasteles de pollo</h3>
                <p>$2500</p>
              </div>
            </div>
          </div>

          <div class="columna columna-33">
            <div class="bloque-servicio">
              <div class="bloque-img-servicio">
                <img src="/img/bunuelo.webp" alt="Buñuelito">
              </div>
              <div class="bloque-contenido-servicio">
                <h3>Buñuelos</h3>
                <p>$1000</p>
              </div>
            </div>
          </div>

          <div class="columna columna-33">
            <div class="bloque-servicio">
              <div class="bloque-img-servicio">
                <img src="img/empanadas.jpg" alt="Empanadas">
              </div>
              <div class="bloque-contenido-servicio">
                <h3>Empanadas de carne</h3>
                <p>$1500</p>
              </div>
            </div>
          </div>




        </div>
      </div>
    </section>
            </div>
          </div>

        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>
