---
import "../styles/styles.css";
---

<header>
  <div class="container">
    <a href="/">
      <img src="/img/logo.jpg" alt="Logo Street Food" class="logo">
    </a>
    <nav>
      <a href="/">Inicio</a>
      <a href="/#nosotros">Nosotros</a>
      <a href="/#servicios">Servicios</a>
      <a href="/#galeria">Galería</a>
      <a href="/#contacto">Contáctanos</a>
    </nav>
  </div>
</header>
